body {

    color: #fff;
   
       background-image: url("https://wallpaperaccess.com/full/656684.jpg");
   
   background-repeat: no-repeat;
   
    background-size: cover;
    height: 700px;
    width:1400px;
   
    }
  