<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a routerLink="/import-data">Import Data</a></li>
            <li><a routerLink="/companylist">Manage Company</a></li>
            <li><a routerLink="/exchangelist">Manage Exchange</a></li>
            <li><a routerLink ="/ipo-list">Update IPO Details</a></li>
            <li><a routerLink ="/sectorlist">Sectors</a></li>
      
          </ul>
      
        </div>
      </nav>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">

                            <h3 class="mb-0 my-2">Create New IPO</h3>
                            <div [hidden]="submitted" style="width:400px;">
                                <form [formGroup]="iposaveform" #saveIPO1 (ngSubmit)="saveIPO(saveIPO1)">


                                    <div class="form-group">
                                        <label for="id">Id</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                        <input type="number" class="form-control" formControlName="id" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label for="companyName">Company Name</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-building"></i></span>

                                        <input type="text" class="form-control" formControlName="companyName"
                                            data-toggle="tooltip" data-placement="right" title="stock exchange"
                                            required="required">
                                        </div>
                                        <div class="alert alert-danger" *ngIf="(CompanyName.touched) && (CompanyName.invalid)"
                                            style="margin-top: 5px;">
                                            <span *ngIf="CompanyName.errors.required">Company Name is Required</span>
                            
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="stockExchange">stock Exchange</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-line-chart"></i></span>

                                        <input type="text" class="form-control" formControlName="stockExchange"
                                            data-toggle="tooltip" data-placement="right" title="Enter stock exchange"
                                            required="required">
                                        </div>
                                        <div class="alert alert-danger"
                                            *ngIf="(StockExchange.touched) && (StockExchange.invalid)"
                                            style="margin-top: 5px;">

                                            <span *ngIf="StockExchange.errors.required">stock exchnage is Required</span>

            
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label for="price">Price</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>

                                        <input type="number" class="form-control" formControlName="price"
                                            data-toggle="tooltip" data-placement="right" title="price"
                                            required="required">
                                        </div>
                                        <div class="alert alert-danger"
                                            *ngIf="(Price.touched) && (Price.invalid)"
                                            style="margin-top: 5px;">
                                            <span *ngIf="Price.errors.required"> Must Specify</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="noShare">Shares</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-bar-chart"></i></span>

                                        <input type="number" class="form-control"  formControlName="noShare" data-toggle="tooltip"data-placement="right" title="Enter Shares"
                                            placeholder="" required="required">
                                        </div>
                                            <div class="alert alert-danger"
                                            *ngIf="(NoShare.touched) && (NoShare.invalid)"
                                            style="margin-top: 5px;">
                                            <span *ngIf="NoShare .errors.required"> Must Specify</span>
                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <label for="remarks">Remarks</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-bookmark-o"></i></span>

                                        <input type="text" class="form-control" formControlName="remarks"
                                            data-toggle="tooltip" data-placement="right" title="Enter remarks"
                                            required="required">
                                        </div>
                                        <div class="alert alert-danger" *ngIf="(Remarks.touched) && (Remarks.invalid)"
                                            style="margin-top: 5px;">

                                            <span *ngIf="Remarks.errors.required"> Required</span>

                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="opendatetime">Date</label>
                                        <div class="input-group">
  
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                        <input type="text" class="form-control" formControlName="opendatetime"id="opendatetime" placeholder=""
                                            required="required">
                                        </div>
                                            <div class="alert alert-danger" *ngIf="(Opendatetime.touched) && (Opendatetime.invalid)"
                                            style="margin-top: 5px;">

                                            <span *ngIf="Opendatetime.errors.required"> Required</span>

                                        </div>

                                    </div>


                                    <button type="submit"
                                        class="btn btn-success btn-lg float-right">Add</button>

                                </form>

                            </div>

                        
                    </div>
                    <div [hidden]="!submitted">

                        <button (click)="companysaveform()"></button>
                        </div>

                    </div>
                </div>
            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
    
</div>    <!--/container-->
</body>
