body {

    color: #fff;
   
       background-image: url("https://content.didimax.co.id/Upload/2019/03/15/zcvERBwM/20190315083758247.jpg");
   
   background-repeat: no-repeat;
   
    background-size: cover;
    height: 550px;
    width:1400px;
   
    }
  