body {

    color: #fff;
   
       background-image: url("https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   
   background-repeat: no-repeat;
   
    background-size: cover;
    height: 550px;
    width:1400px;
   
    }
  