<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/import-data">Import Data</a></li>
      <li><a routerLink="/companylist">Manage Company</a></li>
      <li><a routerLink="/exchangelist">Manage Exchange</a></li>
      <li><a routerLink ="/ipo-list">Update IPO Details</a></li>
      <li><a routerLink ="/sectorlist">Sectors</a></li>

    </ul>

  </div>
</nav>

<table class="table table-hover table-sm" >

    <thead class="thead-light">

     <tr>
      <th>Id</th>
      <th>Sector Name</th>
      <th>Brief</th>
      <th>Delete</th>
      <th>Update</th>


     </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sectors of SectorList ">
  
          <td>{{sectors.id}}</td>
          <td>{{sectors.sectorName}}</td>
          <td>{{sectors.brief}}</td>
          <td> <button (click)="deleteSector(sectors)" class='btn btn-danger'>Delete</button></td>
          <td> <button (click)="updateSector(sectors)" class='btn btn-info'>Update</button></td>

        </tr>
    
       </tbody>
    
       </table>
       <div style="text-align: center;">

       <a routerLink="/sector" class="btn btn-success" role="button">Create Sector</a>
       </div>
       <router-outlet></router-outlet>
      </body>