.nav {

    color: #fff;
   
       background-image: url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   
   background-repeat: no-repeat;
   
    background-size: cover;
    height: 650px;
    width:1350px;
   
    }
  